In [36]:
import csv
import numpy as np

In [37]:
filename = 'banklist (2).csv'

In [49]:
cleaned_data = []
with open(filename, 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    for row in reader:
        if len(row) == 0 or len(row) != 7:
            continue
        cleaned_data.append(row)

In [50]:
header = cleaned_data[0]
data_rows = cleaned_data[1:]

In [51]:
data = np.array(data_rows, dtype=str)

In [53]:
print("HEADER:", header)
print("\n First 5 rows of data:")
print(data[:5])

HEADER: ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date', 'Updated Date']

 First 5 rows of data:
[['Fayette County Bank' 'Saint Elmo' 'IL' '1802'
  'United Fidelity Bank, fsb' '26-May-17' '26-Jul-17']
 ['Guaranty Bank, (d/b/a BestBank in Georgia & Michigan) ' 'Milwaukee'
  'WI' '30003' 'First-Citizens Bank & Trust Company' '5-May-17'
  '26-Jul-17']
 ['First NBC Bank' 'New Orleans' 'LA' '58302' 'Whitney Bank' '28-Apr-17'
  '26-Jul-17']
 ['Proficio Bank' 'Cottonwood Heights' 'UT' '35495' 'Cache Valley Bank'
  '3-Mar-17' '18-May-17']
 ['Seaway Bank and Trust Company' 'Chicago' 'IL' '19328'
  'State Bank of Texas' '27-Jan-17' '18-May-17']]

In [43]:
st_idx = header.index('ST')
acq_idx = header.index('Acquiring Institution')
city_idx = header.index('City')

In [54]:
print("Column names:")
print(header)

Column names:
['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date', 'Updated Date']

In [55]:
states = data[:, st_idx]
unique_states = np.unique(states)
print("Total unique states:", len(unique_states))

Total unique states: 44

In [56]:
print("All states:")
print(unique_states)

All states:
['AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'FL' 'GA' 'HI' 'IA' 'ID' 'IL' 'IN' 'KS'
 'KY' 'LA' 'MA' 'MD' 'MI' 'MN' 'MO' 'MS' 'NC' 'NE' 'NH' 'NJ' 'NM' 'NV'
 'NY' 'OH' 'OK' 'OR' 'PA' 'PR' 'SC' 'SD' 'TN' 'TX' 'UT' 'VA' 'WA' 'WI'
 'WV' 'WY']

In [58]:
state_counts = np.unique(states, return_counts=True)
sorted_indices = np.argsort(-state_counts[1])
print("Top 5 states with most failed banks:")
for i in sorted_indices[:5]:
    print(f"{state_counts[0][i]}: {state_counts[1][i]}")

Top 5 states with most failed banks:
GA: 93
FL: 75
IL: 68
CA: 41
MN: 23

In [59]:
acquirers = data[:, acq_idx]
acq_counts = np.unique(acquirers, return_counts=True)
sorted_acq = np.argsort(-acq_counts[1])
print("Top 5 acquiring institutions:")
for i in sorted_acq[:5]:
    print(f"{acq_counts[0][i]}: {acq_counts[1][i]}")

Top 5 acquiring institutions:
No Acquirer: 31
State Bank and Trust Company: 12
First-Citizens Bank & Trust Company: 11
Ameris Bank: 10
U.S. Bank N.A.: 9

In [60]:
sbt_mask = acquirers == 'State Bank of Texas'
sbt_total = np.sum(sbt_mask)
sbt_tx = np.sum(data[sbt_mask][:, st_idx] == 'TX')
print(f"State Bank of Texas acquired {sbt_total} banks. {sbt_tx} were in Texas.")

State Bank of Texas acquired 3 banks. 1 were in Texas.

In [63]:
ca_mask = states == 'CA'
ca_cities = data[ca_mask][:, city_idx]
city_counts = np.unique(ca_cities, return_counts=True)
most_common_city = city_counts[0][np.argmax(city_counts[1])]
print("Most common city in California for a bank to fail in:", most_common_city)

Most common city in California for a bank to fail in: Los Angeles